.anchor, .anchor:visited {
  text-decoration: none;
  color: var(--fg);
}

.project {
  height: 10rem;
  margin-bottom: var(--space);
  background-color: var(--bg);
  border: var(--space-xxs) solid var(--gray-rgba);
  border-radius: var(--radius);
}

.text_container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  background-color: var(--gray-rgba);
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.text_container:hover { opacity: 1; }

.text_wrapper {
  align-self: flex-end;
  padding-left: var(--space);
  padding-bottom: var(--space);
}

.name {
  font-size: 30px;
  font-weight: bold;
}